<div class="timeline-block" id="spot-<%= spot.id %>">
  <div class="timeline-point success">
    <%= image_tag('hyper_spot.png') %>
  </div>
  <div class="timeline-content">
    <div class="card full-width">
      <div class="card-header">
        <h5>
          <%= local_time_ago(spot.created_at) %>
        </h5>
      </div>
      <div class="card-description">
        <%= link_to('@' + spot.user_name, spots_path(name: spot.user_name)) + ': ' + render_with_hashtags(spot.text).html_safe %>
        <div class="via">
          via <%= spot.channel_name.capitalize %> On Slack
        </div>
      </div>
    </div>
  </div>
</div>
