<div class="header">
  <div class="container-fluid relative">
    <div class="logo">
      <div class="brand">
        <img src="<%= asset_url('hyper_logo.svg') %>" alt="">
      </div>
    </div>
    <div class="brand-description">
      <h3>Share where you are and what you working on with team via Slack</h3>
    </div>
    <div class="filters">
      <%= content_tag :ul do %>
        <%= content_tag :li do %>
          <%= link_to('All', root_path, class: "#{current_page?(root_path) ? 'active' : ''}") %>
        <% end %>
        <%= content_tag :li do %>
          <%= link_to('Remote', spots_path(tag: 'remote'), class: "#{current_page?(spots_path(tag: 'remote')) ? 'active' : ''}") %>
        <% end %>
        <%= content_tag :li do %>
          <%= link_to('Office', spots_path(tag: 'office'), class: "#{current_page?(spots_path(tag: 'office')) ? 'active' : ''}") %>
       <% end %>
      <% end %>
    </div>
  </div>
</div>
